<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.appproject">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/gdms"
        android:label="@string/app_name"
        android:roundIcon="@drawable/gdms"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplasyActivity"
            android:theme="@style/SplashThme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NoticeBreak" />
        <activity android:name=".ShowPoint" />
        <activity android:name=".RequestSong" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" />
        <activity android:name=".FindPassword" />
        <activity android:name=".LoginActivity">

        </activity>
    </application>

</manifest>